    <footer>
      <!-- <div class="container"> -->
        <div class="stripe">
          <img class="icon--mav-mayhem" src="/img/icon--maverick-mayhem.svg" alt="#maverickmayhem">
          <img class="icon--bull" src="/img/bg--bull_footer.svg" alt="UNO Maverick's bull icon">
        </div>
        <div class="contact-info">
          <!-- <ul class="social-list">
            <li class="social-list__item"><a class="btn--icon_twitter" href="">Twitter</a></li>
            <li class="social-list__item"><a class="btn--icon_facebook" href="">Facebook</a></li>
            <li class="social-list__item"><a class="btn--icon_youtube" href="">YouTube</a></li>
            <li class="social-list__item"><a class="btn--icon_instagram" href="">Instagram</a></li>
          </ul> -->
          <p class="copyright">&copy;  2015, University of Nebraska Omaha. All rights reserved.</p>
        </div>
      <!-- </div> -->
    </footer>
    <script src="/js/all.js" async></script>
  </body>
</html>
