    <header id="header">
        <a href="/" class="logo">
          <img src="/img/icon--bull.svg" alt="UNO Maverics bull icon">
        </a>

        <nav class="nav--secondary" role="navigation">
          <div class="menu">
            <ul class="menu--secondary menu__list">
              <li class="menu__list--item"><a href="#">Our House</a></li>
            </ul>
          </div>
        </nav>

        <nav class="nav--primary" role="navigation">
          <span class="btn--menu icon--menu">Sports</span>
          <span class="btn--menu-close icon--close">Close</span>
          <div class="menu menu--main-menu">
            <ul class="menu__list">
              <li class="menu__list--item"><a href="/hockey">Hockey</a></li>
              <li class="menu__list--item"><a href="/basketball">Mens Basketball</a></li>
            </ul>
          </div>
          <div class="menu menu--mobile-menu">
            <ul class="menu__list">
              <li class="menu__list--item"><a href="/hockey">Hockey</a></li>
              <li class="menu__list--item"><a href="/basketball">Mens Basketball</a></li>
              <li class="menu__list--item"><a href="#">Our House</a></li>
            </ul>
          </div>
        </nav>
    </header>
