    <div class="nav-container">
      <nav class="nav--primary" role="navigation">
        <a href="/" class="nav__logo">
          <img src="/img/icon--bull.svg" alt="UNO Maverics bull icon">
        </a>
        <ul class="nav__menu">
          <li class="nav__item"><a href="/hockey">Hockey</a></li>
          <li class="nav__item"><a href="/basketball">Basketball</a></li>
          <li class="nav__item"><a href="/our-house">Our House</a></li>
        </ul>
      </nav>
    </div>
