<%- include ./layouts/_site_header.ejs %>
<%- include ./layouts/_site_navigation.ejs %>

      <div id="content"></div>

      <% if (process.env.NODE_ENV == 'production') { %>
        <script src="/js/arena-show.min.js" async></script>
      <% } else { %>
        <script src="/js/arena-show.js" async></script>
      <% } %>


    </div> <!-- END #main -->
<%- include ./layouts/_site_footer.ejs %>
