<%- include ./layouts/_site_header.ejs %>
<%- include ./layouts/_site_navigation.ejs %>
    <div id="main" role="main" class="arena">
      <div class="video-container">
        <div class="video-wrapper" style="background-image: url(/img/bg--video_arena.jpg);">
          <div class="video-overlay">
            <div class="video-content">
              <img src="/img/every-moment.svg" alt="Where every moment is the main event.">
              <p>Opening Fall 2015, construction on the new UNO arena on Center St. near Aksarben Village is well underway. Not only will the arena be home to Mavericks hockey and basketball, it will also play host to a wide range of community events. </p>
            </div>
          </div>
          <video id="video-background" poster="/img/bg--video_arena.jpg" autoplay muted="muted" loop>
            <source src="/video/loop_arena.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="container sport-recap">
        <div class="sport">
          <div class="game-content">
            <table class="sport__scoreboard sport__scoreboard-hockey">
              <thead>
                <tr class="scoreboard__header">
                  <th class="team-name">&nbsp;</th>
                  <th>1st</th>
                  <th>2nd</th>
                  <th>3rd</th>
                  <th class="score-total">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="team visitor">
                  <td class="team-name">Omaha</td>
                  <td class="score">0</td>
                  <td class="score">2</td>
                  <td class="score">2</td>
                  <td class="score score-winner">4</td>
                </tr>
                <tr class="team away">
                  <td class="team-name">Colorado College</td>
                  <td class="score">1</td>
                  <td class="score">0</td>
                  <td class="score">0</td>
                  <td class="score">1</td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <tr>
                  <td colspan="5"><a href="#">view stats</a></td>
                </tr>
              </tfoot> -->
            </table>
          </div>
          <div class="upcoming-game">
            <h3><span>Next Game: </span>Fri, Jan 30th 2015</h3>
            <p>vs North Dakota @ Omaha, NE</p>
          </div>
          <a href="https://oss.ticketmaster.com/aps/uno/EN/buy/details/14HOC14" class="btn btn--red">Get Tickets</a>
        </div>
        <div class="news">
          <ul class="news__list">
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="">
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em></span></h4>
              </a>
            </li>
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="" >
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em><span></h4>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="photo-gallery">
        <ul class="photo-list">
          <li class="photo-list__item"><img src="img/hockey/hockey1.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey2.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey3.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey4.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey5.jpg" alt="" class="photo"></li>
        </ul>
      </div>
    </div> <!-- END #main -->
<%- include ./layouts/_site_footer.ejs %>
