<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Maverick Mayhem</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'bwv0gog',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body>
    <div class="nav-container">
      <nav class="nav--primary" role="navigation">
        <a href="/" class="nav__logo">
          <img src="img/icon-bull.svg" alt="UNO Maverics bull icon">
        </a>
        <ul class="nav__menu nav__menu-disabled">
          <li class="nav__item"><a href="">Hockey</a></li>
          <li class="nav__item"><a href="">New Arena</a></li>
          <li class="nav__item"><a href="">Join</a></li>
        </ul>
      </nav>
      <span class="nav__menu-icon">Menu</span>
      <div class="sport-type-avatar"></div>
    </div>
    <header role="banner">
      <div class="banner">
        <h1 class="banner__headline">Mavericks take on North Dakota Jan 22</h1>
      </div>
    </header>
    <div id="main" role="main">
      <div class="video-container">
        <div class="video-wrapper">
          <div class="btn--play">Play</div>
          <video id="video-background" poster="http://dfcb.github.io/BigVideo.js/img/background-dock.jpg" autoplay muted="muted" loop>
            <source src="http://dfcb.github.io/BigVideo.js/vids/dock.mp4" type="video/mp4">
          </video>
          <iframe id="sport-video" width="853" height="480" src="//www.youtube.com/embed/-betK2whnW4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container">
        <div class="sport__headline">
          <h2>MAVERICKS TAKE WIN OVER DELUTH 4-1</h2>
        </div>
        <div class="sport">
          <div class="game-content">
            <table class="sport__scoreboard sport__scoreboard-hockey">
              <thead>
                <tr class="scoreboard__header">
                  <th class="team-name">&nbsp;</th>
                  <th>1st</th>
                  <th>2nd</th>
                  <th>3rd</th>
                  <th class="score-total">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="team visitor">
                  <td class="team-name">Deluth</td>
                  <td class="score">1</td>
                  <td class="score">0</td>
                  <td class="score">0</td>
                  <td class="score">1</td>
                </tr>
                <tr class="team away">
                  <td class="team-name">Omaha</td>
                  <td class="score">2</td>
                  <td class="score">1</td>
                  <td class="score">1</td>
                  <td class="score score-winner">4</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5"><a href="#">view stats</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="upcoming-game">
            <h3><span>Next Game: </span>Fri, Nov 28th 2014</h3>
            <p>vs North Dakota @ Grand Forks, N.D</p>
          </div>
          <a href="" class="btn btn--red">Get Tickets</a>
        </div>
        <div class="news">
        <ul class="news__list">
          <li class="news__list-item">
            <a href="">
              <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em></span></h4>
            </a>
            <img src="img/news-item.jpg" alt="">
          </li>
          <li class="news__list-item">
            <a href="">
              <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em><span></h4>
            </a>
            <img src="img/news-item.jpg" alt="">
          </li>
        </ul>
      </div>
      </div>

      <div class="container">
        <div class="featured-photo">
          <img src="http://placehold.it/800x400" alt="">
        </div>
        <ul class="photo-list">
          <li class="photo-list__item"><img src="http://placehold.it/260x260" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="http://placehold.it/260x260" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="http://placehold.it/260x260" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="http://placehold.it/260x260" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="http://placehold.it/260x260" alt="" class="photo"></li>
        </ul>
      </div>
    </div> <!-- END #main -->
    <footer>
      <div class="container">
        <p>Copyright &copy; 2015</p>
      </div>
    </footer>
    <script src="js/all.js" async></script>
  </body>
</html>

