<%- include ./layouts/_site_header.ejs %>
<%- include ./layouts/_site_navigation.ejs %>
    <div id="main" role="main" class="home">
      <div class="hero hero-home">
        <div class="hero__inner">
          <div class="hero__content-wrap hero__content-home">
            <div class="hero__content">
              <img src="img/hashtag_MM_HOME.svg" alt="">
              <p>This site belongs to all Mavericks–the underdogs who look at the world and the rules and order imposed on it by conformity and small-mindedness and say: Not for me.</p>
              <a class="btn--show-pride" href="#">Show your pride</a>
            </div>
          </div>
        </div>
        <div class="hero__overlay"></div>
        <div class="hero__media">
          <video id="video-background" class="video-wrap" poster="/img/SportsCombineStill.jpg" autoplay muted="muted" loop>
            <source src="https://s3.amazonaws.com/maverickmayhem/loop_all-sports.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="marquee">
        <ul class="marquee__list">
          <li class="marquee__list-item">2/20/2015 - Men’s basketball vs Iowa, 7pm. <a href="">tickets here</a></li>
          <li class="marquee__list-item">2/25/2015 - Hockey vs Denver, 7pm. <a href="">tickets here</a></li>
          <li class="marquee__list-item">2/20/2015 - Men’s basketball vs Iowa, 7pm. <a href="">tickets here</a></li>
        </ul>
      </div>

      <div id="instagrams"></div>
    </div>
    <script src="/js/index.js"></script><!-- END #main -->
<%- include ./layouts/_site_footer.ejs %>
