<%- include ./layouts/_site_header.ejs %>
    <header id="header">
        <a href="/" class="logo">
          <img src="/img/icon--bull.svg" alt="UNO Maverics bull icon">
        </a>

        <nav class="nav--secondary" role="navigation">
          <div class="menu">
            <ul class="menu--secondary menu__list">
              <li class="menu__list--item"><a href="#">Tickets</a></li>
              <li class="menu__list--item"><a href="#">Our House</a></li>
            </ul>
          </div>
        </nav>

        <nav class="nav--primary" role="navigation">
          <span class="btn--menu icon--menu">Sports</span>
          <div class="menu is-disabled">
            <ul class="menu--main-menu menu__list">
              <li class="menu__list--item"><a href="/hockey">Hockey</a></li>
              <li class="menu__list--item"><a href="/basketball">Womens Basketball</a></li>
              <li class="menu__list--item"><a href="/basketball">Mens Basketball</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <div id="main" role="main" class="home">
      <div class="hero"  style="background-image: url(/img/SportsCombineStill.jpg);">
        <div class="overlay">
          <div class="overlay__container">
            <div class="hero__content">
              <div class="hero__content-wrap hero__content-home">
                <img src="img/mav_mayhem.svg" alt="">
                <p>This site belongs to all Mavericks–the underdogs who look at the world and the rules and order imposed on it by conformity and small-mindedness and say: Not for me.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="video-wrapper">
          <video id="video-background" poster="/img/SportsCombineStill.jpg" autoplay muted="muted" loop>
            <!-- <source src="https://s3.amazonaws.com/maverickmayhem/loop_all-sports.mp4" type="video/mp4"> -->
          </video>
        </div>
      </div>

        <div class="container mayhem-copy">
          <p><img class="mav-mayhem-inline-home" src="img/icon--maverick-mayhem.svg" alt="#maverickmayhem"> is a groundswell, a surge of pride, a growing sense of identity sweeping up players, coaches, fans, students, campus, city and community in its current. You are here. Make some noise.</p>
        </div>

      <div id="instagrams"></div>
    </div>
    <script src="/js/index.js"></script><!-- END #main -->
<%- include ./layouts/_site_footer.ejs %>
