<%- include ./layouts/_site_header.ejs %>
<%- include ./layouts/_site_navigation.ejs %>
    <header role="banner">
      <div class="banner">
        <h1 class="banner__headline">Mavericks take on North Dakota Jan 22</h1>
        <div class="sport-type-avatar"><img src="img/icon--uno-hockey.svg" alt=""></div>
      </div>
    </header>
    <div id="main" role="main">
      <div class="video-container">
        <div class="video-wrapper">
          <div class="btn--play">Play</div>
          <video id="video-background" poster="" autoplay muted="muted" loop>
            <source src="video/WomensVball_10sec_loop.mp4" type="video/mp4">

          </video>
          <iframe id="sport-video" width="853" height="480" src="//www.youtube.com/embed/-betK2whnW4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container sport-recap">
        <div class="sport__headline">
          <h2>Mavericks take win over Colorado College 4-1</h2>
        </div>
        <div class="sport">
          <div class="game-content">
            <table class="sport__scoreboard sport__scoreboard-hockey">
              <thead>
                <tr class="scoreboard__header">
                  <th class="team-name">&nbsp;</th>
                  <th>1st</th>
                  <th>2nd</th>
                  <th>3rd</th>
                  <th class="score-total">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="team visitor">
                  <td class="team-name">Omaha</td>
                  <td class="score">0</td>
                  <td class="score">2</td>
                  <td class="score">2</td>
                  <td class="score score-winner">4</td>
                </tr>
                <tr class="team away">
                  <td class="team-name">Colorado College</td>
                  <td class="score">1</td>
                  <td class="score">0</td>
                  <td class="score">0</td>
                  <td class="score">1</td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <tr>
                  <td colspan="5"><a href="#">view stats</a></td>
                </tr>
              </tfoot> -->
            </table>
          </div>
          <div class="upcoming-game">
            <h3><span>Next Game: </span>Fri, Jan 30th 2015</h3>
            <p>vs North Dakota @ Omaha, NE</p>
          </div>
          <a href="https://oss.ticketmaster.com/aps/uno/EN/buy/details/14HOC14" class="btn btn--red">Get Tickets</a>
        </div>
        <div class="news">
          <ul class="news__list">
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="">
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em></span></h4>
              </a>
            </li>
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="" >
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em><span></h4>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="photo-gallery">
        <ul class="photo-list">
          <li class="photo-list__item"><img src="img/hockey/hockey1.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey2.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey3.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey4.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey5.jpg" alt="" class="photo"></li>
        </ul>
      </div>
    </div> <!-- END #main -->
<%- include ./layouts/_site_footer.ejs %>
