.submit_button {
	position: relative;
	text-align: center; 
	margin: 20px 0;
	button[type=submit] {
		position: absolute;
		width: 100%;
		line-height: 25px;
		font-weight: bold;
		text-decoration: none;
		background: transparent;
		border: none;
		outline: none;
		-webkit-appearance: none;
		color: white;
	}
	svg {
		width: 100%;
		height: 35px;
	}
	svg path {
		fill: #CF0A2C;
		transition: 0.15s ease-out;
	}
	&:hover {
		svg path {
			fill: rgba(177,0,14,1);
		}
	}
}

.admin-form {
	width: 100%;
	max-width: 400px;
	margin: auto;
	padding: 20% 0;
	h2  {
		color: white;
		text-align: center;
	}
	label {
		display: none;
	}
	input {
		width: 84%;
		line-height: 35px;
		height: 35px;
		padding: 0 20px;
		outline: none;
		margin: 5px 8%;
		border: 1px transparent solid;
		transition: 0.15s ease-out;
	}
	input:focus {
		border: 1px $brand_red solid;
	}
}
#new_page {


	.Scores {
		background: #222;
		padding: 10px;
		position: relative;
		margin-bottom: 15px;
		.team_labels {
			display: inline-block;
			vertical-align: top;
		}

		.score.edit_click {
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
			cursor: pointer;
			.us, .them {
				display: block;
			}
		}
		.new_score_button {
			width: 35px;
			background: #cf0a2c;
			display: inline-block;
			float: right;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 20px 5px;
			cursor: pointer;
		}
		.new_score_button:hover {
			background: #333;
		}

		.score.edit_view {
			display: inline-block;
			vertical-align: top;
			input.us_input, input.them_input  {
				display: block;
				width: 37px;
				line-height: 1;
				margin: auto;
			}
			.score_submit {
				background: $brand_red;
				cursor: pointer;
				padding: 2px 5px;
				text-transform: uppercase;
				font-size: .7em;
			}
			.score_submit:hover {
				background: #333;
			}
		}
	}

}