.video-content {
  max-width: 500px;
  width: 280px;
  margin: 10% auto 0 auto;
  line-height: 1.8;
  color: $white;

  .arena & {
    @media screen and (max-width: 360px) {
      margin-top: 14%
    }

    @media screen and (min-width: 481px) and (max-width: 600px) {
      width: 360px;
      // margin-top: 4%;
    }
  }

  @include respond-to(small) {
    width: 320px;
  }

  @include respond-to(medium) {
    width: 500px;
  }

  img {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    padding-bottom: em(24px);
  }
}
