
.mayhem-copy {
	color: white;
	padding: 100px 10% 50px;

	p {
    line-height: 2;
		text-transform: uppercase;
		font-size: em(16px);

    @include respond-to(small) {
      font-size: em(18px);
      line-height: 2.5;
    }
	}

	.mav-mayhem-inline-home {
		vertical-align: bottom;
		margin-left: -8%;
		transform: rotate(-3deg);
		width: 500px;
		max-width: 100%;
	}
}
