.instagrams {
	@include clearfix;
	.instagram {
		@include span(1 of 10);
		@include respond-to(mobile) {
	    @include span(1 of 3);
	  }
		@include respond-to(small) {
	    @include span(1 of 4);
	  }
		@include respond-to(medium) {
	    @include span(1 of 6);
	  }
		@include respond-to(large) {
	    @include span(1 of 10);
	  }
		display: inline-block;
		position: relative;
		color: white;
		overflow: hidden;
		.user-wrapper {
			top: 60%;
			position: absolute;
			height:100%;
			width: 100%;
			transition: 0.15s ease-out;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.9) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.9) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.9) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.9) 100%);
		}
		.user {
			position: absolute;
			bottom: 0;
			width: 100%;
			margin-bottom: 0;
			padding: 10px;
			.fa-instagram {
				font-size: 20px;
				vertical-align: middle;
			}

			.username {
				margin-left: 5px;
				font-size: 10px;
				vertical-align: middle;
			}
		}
		&:last-child {
      @include last;
    }
    &:hover {
			.user-wrapper {
				top: 0;
			}
    }
	}
}