    <div class="nav-container">
      <nav class="nav--primary" role="navigation">
        <a href="/" class="nav__logo">
          <img src="img/icon--bull.svg" alt="UNO Maverics bull icon">
        </a>
        <ul class="nav__menu">
          <li class="nav__item"><a href="">Basketball</a></li>
          <li class="nav__item"><a href="">New Arena</a></li>
        </ul>
      </nav>
      <!-- <span class="nav__menu-icon">Menu</span> -->
    </div>
