<%- include ../layouts/_site_header.ejs %>
<%- include ../layouts/_site_navigation.ejs %>
    <div class="container">
      <h2>New Page</h2>
      <div id="new_page"></div>
    </div>
    <script src="/js/pages.js" async></script>
<%- include ../layouts/_site_footer.ejs %>
