.btn {
  @include transition(background-color 0.15s);
  display: block;
  text-align: center;
  padding: 24px 16px;
  font-size: em(24);
  font-family: $museo-slab;
  font-weight: 1000;
  text-decoration: none;
}

.btn--menu {
  @include transition(color 0.2s);
  display: block;
  color: $white;
  text-transform: uppercase;
  line-height: em(36px);
  text-align: right;
  cursor: pointer;

  &:hover,
  &:active {
    color: $brand_red;
  }
  #navicon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  #navicon path {
    fill: #CF0A2C;
  }
  
  .nav-show & {
    display: none;
  }
}

.btn--menu-close {
  @include transition(opacity 0.8s);
  display: none;
  position: relative;
  z-index: 1;
  opacity: 0;
  cursor: pointer;

  .nav-show & {
    display: block;
    opacity: 1;
    display: block;
    opacity: 1;
    height: 45px;
  }
  #close-icon {
    display: inline-block;
    float: right;
    width: 45px;
    height: 45px;
    background: black;
    padding: 10px;
    border: 1px solid #333;
    border-bottom: none;
    path {
       fill: #808080;
       transition: 0.15s ease-out;
    }
    &:hover {
      path {
         fill: $brand_red;
      }  
    }
  }
}

.btn--red {
  background-color: $brand_red;

  &:hover { background-color: darken($brand_red, 10%); }
}

.btn--show-pride {
  @include transition(color 0.1s, font-size 0.25s);
  font-size: em(18px);
  line-height: 1;
  font-weight: 900;
  letter-spacing: em(1px);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  
  &:before {
    @include transition(background-position 0.4s);
    display: inline-block;
    content: '';
    width: 48px;
    height: 18px;
    background: url(../img/arrow_long_right.svg) no-repeat left 5px;
  }
  &:after {
    @include transition(background-position 0.4s);
    display: inline-block;
    content: '';
    width: 48px;
    height: 18px;
    background: url(../img/arrow_long_left.svg) no-repeat right 5px;
  }

  &:hover {
    font-size: 24px;
    color: $brand_red;
    &:before {
      background-position: 60px 5px;
    }
    &:after {
      background-position: -60px 5px;
    }
  }
}

.btn--play, .arena-btn--play {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  &:hover {
    .icon--play { opacity: 0; }
    .icon--play_hover { opacity: 1; }
  }

  svg {
    max-width: 100%;
    height: auto;
  }

  .btn--play_icon {
    display: inline-block;
    width: 150px;

    @include respond-to(mobile) { width: 100px; }
  }
}

.arena-video a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  text-align: center;

  &:hover {
    .icon--play { opacity: 0; }
    .icon--play_hover { opacity: 1; }
  }

  .btn--play_icon {
    display: inline-block;
    margin-top: 40%;
  }
}

.icon--play { @include transition(opacity 0.15s); }

.icon--play_hover {
  @include transition(opacity 0.15s);
  opacity: 0;
}

.btn--icon_twitter,
.btn--icon_facebook,
.btn--icon_youtube,
.btn--icon_instagram {
  display: inline-block;
  text-indent: -9999em;
  width: 25px;
  height: 25px;
}

.btn--icon_twitter { background: url(../img/icon--twitter.svg) no-repeat center center; }

.btn--icon_facebook { background: url(../img/icon--facebook.svg) no-repeat center center; }

.btn--icon_youtube { background: url(../img/icon--youtube.svg) no-repeat center center; }

.btn--icon_instagram { background: url(../img/icon--instagram.svg) no-repeat center center; }
