.btn {
  @include transition(background-color 0.2s);
  display: block;
  text-align: center;
  padding: 24px 16px;
  font-size: em(24);
  font-family: $museo-slab;
  font-weight: 1000;
  text-decoration: none;
}

.btn--red {
  background-color: $brand_red;

  &:hover {
    background-color: darken($brand_red, 10%);
  }
}

.btn--play {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  font-family: $museo-slab;
  font-size: em(48px);
  text-align: center;


  &:hover {
    .btn--play_icon {
      background: url(../img/icon--play_hover.svg) no-repeat center center;
    }
  }

  .btn--play_icon {
    display: inline-block;
    width: 320px;
    height: 334px;
    background: url(../img/icon--play.svg) no-repeat center center;

    @include respond-to(mobile) {
      width: 120px;
    }
  }

}
