.icon--menu {
  &:after {
    float: right;
    display: block;
    width: 42px;
    height: 30px;
    margin-left: 10px;
    content: "";
    background: url(../img/icon--menu.svg) no-repeat center center;
  }
}
.icon--close {
  &:after {
    float: right;
    display: block;
    width: 42px;
    height: 30px;
    margin-left: 10px;
    content: "";
    background: url(../img/icon--close.svg) no-repeat center center;
  }
}
