.marquee {
  // padding: 28px 0;
  background-color: $gray2;
  font-size: em(25px);
  // font-weight: 700;
  line-height: 1;
  max-height: 60px;
  overflow: hidden;
  white-space: nowrap;
  font-family: $museo-slab, $base-font-family;
}
.marquee__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition-property: all;
  transition-property: all;
  white-space:nowrap;
  overflow:hidden;
}

.marquee__list-item {
  float: left;
  padding: 18px 0;
  margin: 0;
  color: $white;

  &:nth-child(4n+1)::before {
    content: '';
    margin-right: 0;
  }

  &:not(.marquee__list-graphic)::before {
    float: left;
    margin: 0 20px;
    content: ':::';
    color: $brand_red;
  }
}

.marquee__list-graphic {
  background: transparent url(../img/ticker-mm-hashtag.svg) no-repeat 0 0;
  width: 530px;
  margin-left: 20px;
}
