/**
 * $GLOBAL
 */
.nav--primary,
.nav--secondary {
  font-weight: 900;
  letter-spacing: em(1px);

  a {
    text-decoration: none;
  }
}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__list--item {
  a {
    @include transition(color 0.2s);
    text-decoration: none;

    &:hover,
    &.active {
      color: $brand_red;
    }
  }
}

/**
 * $MAIN NAVIGATION
 */
.nav--primary {
  float: right;
  margin-right: 20px;
}

.menu--main-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  max-width: 320px;
  background-color: $black;

  .nav-show & {
    display: block;
  }

  a {
    display: block;
    padding: 18px 8px;
  }
}

/**
 * $SECONDARY NAVIGATION
 */
.nav--secondary {
  float: left;
  text-transform: uppercase;

  .menu__list {
    @include horizontal-list;
  }

  .menu__list--item {
    margin-right: 24px;
    line-height: em(36px);
  }
}
