.photo-list {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.photo-list__item {
  float: left;
  width: 50%;
  padding: 10px 5px 0 5px;
  max-height: 420px;
  overflow: hidden;

  &:nth-child(even) {
    padding-right: 0;
  }
  &:nth-child(odd) {
    padding-left: 0;
  }
}
