.instagrams {
  @include clearfix;
  padding: 5%;
}

.instagram {
  @include span(1 of 1); // Temp
  position: relative;
  color: $white;
  overflow: hidden;

  @media screen and (min-width: 480px ) and (max-width: 767px) {
    @include span(1 of 2);
  }

  @include respond-to(small) {
    @include span(1 of 3);
  }

  &:last-child {
    @include last;
  }

  &:hover {
    .user-wrapper {
      top: 0;
    }
  }

  .photo__description {
    padding: 20px 60px 0 60px;
    // background: transparent url(../img/icon--instagram.svg) no-repeat center top;
    font-size: em(12px);
    line-height: rem(28px);
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .user-wrapper {
    @include transition(opacity 0.15s ease-in-out);
    position: absolute;
    top: 0;
    height:100%;
    width: 100%;
    background-color: rgba($black, 0.7);
    background: rgba($black, 0.7) url(../img/scribble_bkgrd.svg) no-repeat center 30%;
    background-size: 100%;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

.user__profile-picture {
  display: block;
  width: 80px;
  height: 80px;
  margin: 30% auto 0 auto;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.instagram__user {
  padding: 0 60px;
  font-size: em(12px);
  text-align: center;

  a {
    display: inline-block;
    padding-bottom: 12px;
    min-width: 90px;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../img/arrow_long.svg) no-repeat center bottom;
  }
}

.photo-list {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.photo-list__item {
  float: left;
  width: 50%;
  padding: 10px 5px 0 5px;
  max-height: 420px;
  overflow: hidden;

  @include respond-to(mobile) {
    float: none;
    width: 100%;
    padding: 10px 0 0 0;
  }

  &:nth-child(even) {
    padding-right: 0;
  }
  &:nth-child(odd) {
    padding-left: 0;
  }
}
