.sport {
  float: left;
  width: 47%;
  margin-right: 6%;
  padding-left: 10px;
  padding-right: 10px;

  @include respond-to(mobile) {
    width: 100%;
    float: none;
    margin-bottom: em(24px);
  }

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.game-content {
  padding: 16px;
  background-color: $black;
}

.sport__scoreboard {

  width: 100%;
  font-size: em(20px);

  th,
  td {
    width: 10%;
    padding: 10px;
    text-align: center;

    &.team-name {
      width: 80%;
      text-align: left;
      padding-left: 24px;
    }
  }

  tfoot td {
    width: 100%;
    text-align: right;
  }
  a {
    text-decoration: none;

    &:before {
      content: "> ";
      color: $brand_red;
    }
  }
}

.sport__scoreboard-hockey {
  color: $white;
}

.score-total,
.score-winner {
  color: $brand_red;
  font-weight: 500;
}

.upcoming-game {
  padding-top: 40px;
  // padding-bottom: 40px;
  background-color: $black;
  color: $white;

  h3 {
    margin: 0;
    line-height: 1;
    font-size: em(24px);
  }

  span {
    display: inline-block;
    background-color: $brand_red;
    padding: 12px 12px 12px 24px;
    margin-right: 8px;
  }

  p {
    padding: 42px 16px;
    margin-bottom: 0;
    text-align: center;
    font-size: em(20px);
  }
}
