.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  @media screen and (max-width: 600px) {
    .arena & {
      overflow: visible;
      padding-bottom: 0;
      padding-top: 0;
      height: auto;
    }
  }
  .home & {
    @include respond-to(mobile) {
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

iframe {
  @include transition(opacity 0.35s);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  height: 100.5%;
  width: 100%;
  z-index: 1;
  background: transparent url(../img/bg--video-overlay.png);
  text-align: center;

  .arena & {
    @media screen and (max-width: 600px) {
      position: relative;
    }
  }

  &.active {
    cursor: pointer;
  }

  .home & {
    @include respond-to(mobile) {
      position: relative;
    }
  }
}

.video-overlay-container {
  display: table;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  @include transition(opacity .35s);
  opacity: 0;
}

.video-loaded {
  opacity: 1;
}

#video-background {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;

  @include respond-to(mobile) {
    display: none;
  }
}

.arena-video {
  position: relative;
  width: 100%;
  margin: 50px 0;

  @include respond-to(mobile) {
    width: 100%;
    float: none;
    margin-bottom: em(24px);
  }

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.video-content {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.8;
  color: $white;

  img {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    padding-bottom: em(24px);
  }
}

.video-content-arena {
  width: 280px;
  margin: 0 auto;
  padding: 80px 0 30px 0;

  @media screen and (min-width: 360px) and (max-width: 599px ) {
    width: 320px;
  }

  @media screen and (min-width: 600px) and (max-width: 767px) {
    width: 440px;
  }

  @include respond-to(small) {
    width: 320px;

    &.home-copy {
      width: 600px;
    }
  }

  @include respond-to(medium) {
    width: 500px;

    &.home-copy {
      width: 800px;
    }
  }
}
